<div class="row main-card">
    <div class="col-lg-12 col-xl-2 col-xxl-2  col-md-12 footer-logo">
        <img src="../../assets/images/main/logo.png" style="height:170px;width:120px">
    </div>
    <div class="col-lg-12 col-xl-7 col-xxl-7  col-md-12 footer-nav">
        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="footer-card-heading">To the buyer</div>
                <div class="footer-card-text">
                    <div>Payment and delivery</div>
                    <div>Exchange and return</div>
                    <div>Privacy Policy</div>
                    <div>Shops</div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="footer-card-heading">About</div>
                <div class="footer-card-text">
                    <div>About us</div>
                    <div>SOVA CLUB</div>
                    <div>Contract offers</div>
                    <div>Contacts</div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="footer-card-heading">Catalog</div>
                <div class="footer-card-text">
                    <div>Jewelry</div>
                    <div>Collections</div>
                    <div>%Outlet</div>

                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="footer-card-heading">Work Time</div>
                <div class="footer-card-text">
                    <div>Mon-Th с 9:00 до 20:00</div>
                    <div> Fri з 9:00 до 19:00</div>
                    <div> Sat с 9:00 до 17:00</div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-3 col-xxl-3  col-md-12 footer-subscribe">
        <div class="footer-card-heading">Subscribe our Newsletters</div>
        <div class="footer-card-text" style="margin-top: 15px;">
            <div>

                <input type="email" class="email-field-footer  " id="email" placeholder="  Your Email" />

                <button class="Subscribe-footer  ">Subscribe</button>
            </div>
        </div>
        <div style="width: 128px;margin-top: 20px;">
            <img src="../../assets/icons/main/facebook.png" alt="" class="me-2">
            <img src="../../assets/icons/main/instagram.png" alt="" class="me-2">
            <img src="../../assets/icons/main/linkdin.png" alt="" class="me-2">
        </div>
    </div>

</div>