<div class="container-fluid ">
    <div class="row navigation">
        <div>Shop / Ring / Order</div>
    </div>
    <div class="row checkout">
        <div class="col-lg-8">

            <div class="row contact-info shipping justify-content-between">
                <div class="col-sm-6">New Customer</div>


                <div class="row g-3">
                    <div class="col-md-12">
                        <label for="emailaddress" class="form-label checkout-lable">Email Address</label>
                        <input type="email" class="form-control" id="emailaddress" placeholder="Email Address">
                    </div>
                    <div class="col-md-12">
                        <label for="password" class="form-label checkout-lable">Password</label>
                        <input type="text" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="col-md-12">
                        <label for="password" class="form-label checkout-lable">Password</label>
                        <input type="text" class="form-control" id="password" placeholder="Password">
                    </div>


                    <div class=" offset-6 col-md-6">
                        <div class=" d-flex align-items-center justify-content-end pe-2">
                            <div class="subtotal"> Back to Сustomer Info</div>
                            <div class="row ps-2" style="padding: 0px;">
                                <div class="offset-10 col-sm-2 d-flex justify-content-end " style="padding:0px">
                                    <button class="continue">Continue&Continue</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>




        </div>
        <div class="col-lg-4">
            <div class="order-summary">
                <div class="row ">
                    <div class="col-sm-8 d-flex head-text">Order Summary</div>
                    <div class="col-sm-4 d-flex justify-content-end">
                        <img class="" src="./assets/icons/checkout/close.png" />
                    </div>
                </div>

                <div class="row align-items-start " style="margin-top: 30px">
                    <div class="col-sm-4 d-flex"><img class="" src="./assets/images/checkout/ring.png" />
                    </div>
                    <div class="col-sm-4 d-flex flex-column">
                        <div class="img-text">Gold Ring with Diamond</div>
                        <div class="form-text">Size: 17</div>
                        <div class="head-text">$34.222</div>
                    </div>
                    <div class="col-sm-4 d-flex justify-content-end"><img class=""
                            src="./assets/icons/checkout/delete.png" />
                    </div>
                </div>

                <div class="row align-items-start " style="margin-top: 30px">
                    <div class="col-sm-9 d-flex"><input type="text" class="form-control coupon "
                            placeholder="Coupon code">
                    </div>
                    <div class="col-sm-3 d-flex"><button class="btn btn-outline  w-100 add-code">Add
                            Code</button></div>
                </div>
                <hr style="margin:20px 0px">
                <div class="row subtotal">
                    <div class="col-sm-8 d-flex ">Subtotal</div>
                    <div class="col-sm-4 d-flex justify-content-end">$34.222
                    </div>
                </div>
                <div class="row subtotal">
                    <div class="col-sm-8 d-flex">Shipping</div>
                    <div class="col-sm-4 d-flex justify-content-end"><span class="login">FREE</span>
                    </div>
                </div>
                <div class="row subtotal">
                    <div class="col-sm-8 d-flex">Discount</div>
                    <div class="col-sm-4 d-flex justify-content-end">-
                    </div>
                </div>
                <div class="row subtotal">
                    <div class="col-sm-8 d-flex">Tax</div>
                    <div class="col-sm-4 d-flex justify-content-end">-
                    </div>
                </div>
                <hr>
                <div class="row head-text">
                    <div class="col-sm-8 d-flex">Total</div>
                    <div class="col-sm-4 d-flex justify-content-end">$489
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>