.container-fluid {
    padding: 0px 100px;
}

.navigation {
    padding: 30px 0px;
}

.contact-info {
    margin: 30px 0px;
    padding: 40px;

    border: 1px solid rgba(181, 171, 170, 1);

}

.contact {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    font-family: 'Libre bodoni';
    color: rgba(49, 28, 28, 1);
}

.email {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Libre bodoni';
    color: rgba(49, 28, 28, 1);
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-control {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    font-family: 'Mulish';
    color: rgba(181, 171, 170, 1);
    border-radius: 0px;
}



.form-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Mulish';
    color: rgba(49, 28, 28, 1);
    margin: 10px 0px;
}

.login {
    color: rgba(0, 76, 63, 1);
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    font-family: 'Mulish';
}

.continue {
    height: 42px;
    width: 230px;
    padding: 10px 32px 10px 32px;
    background-color: rgba(227, 103, 9, 1);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 300;
}

.shipping {
    border: 1px solid rgba(181, 171, 170, 1);
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Libre bodoni';
    line-height: 25px;
    color: rgba(49, 28, 28, 1);
}

.change {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-family: 'Mulish';
    color: rgba(227, 103, 9, 1);

}

.order-summary {
    border: 1px solid rgba(181, 171, 170, 1);
    padding: 40px;
    margin: 30px 0px;
}

.head-text {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Libre bodoni';
    line-height: 25px;
    color: rgba(49, 28, 28, 1);
}

.img-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-family: 'Mulish';
    color: rgba(49, 28, 28, 1);
}

.add-code {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: 'Playfair Display';
    border: 1px solid rgba(49, 28, 28, 1);

}

.btn {
    border-radius: 0px;
}

.coupon {
    color: rgba(181, 171, 170, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Mulish';
    border: 1px solid rgba(181, 171, 170, 1);
    border-radius: 0px;
    height: 32px;
}

.subtotal {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    font-family: 'Mulish';
    color: rgba(49, 28, 28, 1);
}


.showDiv {
    display: block;
}

.hideDiv {
    display: none;
}

.checkout-lable {
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: rgba(49, 28, 28, 1);
}

.credit-card {
    padding: 0px;
}

.card-image {
    padding: 0px;
    height: 24px;
    width: 34px;
}